<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app [
        <!ELEMENT web-app (display-name|welcome-file-list)*>
        <!ATTLIST web-app
                xmlns:xsi CDATA #REQUIRED
                xmlns CDATA #REQUIRED
                xsi:schemaLocation CDATA #REQUIRED
                version CDATA #REQUIRED>
        <!ELEMENT display-name (#PCDATA)>
        <!ELEMENT welcome-file-list (welcome-file)*>
        <!ELEMENT welcome-file (#PCDATA)>
        ]>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
    <display-name>intro-spring-mvc</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>